html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #19381f;
  color: white;
  padding: 40px 80px;
  margin-top: auto; /* empurra o footer para o bottom */
}